@charset "UTF-8";
/*---Colores---*/
/*---Fuente---*/
/*---Header---*/
.img-portada {
  background-color: #ffff;
  height: 20vh;
}
.img-portada img {
  height: 20vh;
}
@media screen and (max-width: 576px) {
  .img-portada {
    height: 15vh;
  }
  .img-portada img {
    height: 15vh;
  }
}

.navbar .navbar-nav .active {
  color: #d291bc !important;
}
.navbar .navbar-nav a {
  font-size: 1.5rem;
  color: #957dad !important;
}
.navbar .navbar-nav a:hover {
  color: #d291bc !important;
}

footer {
  background-color: #ffdfd3;
  flex-direction: column;
  align-items: center;
}

/*---Newsletter---*/
.newsletter {
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  flex-direction: column;
}
.newsletter label {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #957dad;
}
.newsletter .btn-primary {
  color: #ffff;
  background-color: #957dad;
  border-color: #957dad;
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
  margin: 1rem;
}
.newsletter .btn-primary:hover {
  color: #ffff;
  background-color: #d291bc;
  border-color: #957dad;
}

.boton-subir {
  margin-top: 1rem;
}
.boton-subir a {
  font-family: "Cabin", sans-serif;
  color: #ffff;
  text-align: center;
  text-decoration: none;
  border: 0.1rem solid;
  border-color: #957dad;
  border-radius: 20%;
  padding: 0.2rem;
  font-size: 2rem;
  background-color: #957dad;
}
.boton-subir a:hover {
  color: #ffff;
  background-color: #d291bc;
  border-color: #957dad;
}

/*---Redes sociales y Copyright---*/
.redes {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.redes a {
  color: #d291bc;
}
.redes a:hover {
  color: #957dad;
}

.sub-cop {
  flex-direction: column;
  color: #957dad;
  font-size: 0.75rem;
}

/*---Título promoción---*/
.prom-title {
  text-align: center;
  background: none;
  background-color: #957dad;
  padding: 2rem;
  color: #ffff;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  .prom-title {
    padding: 1.25rem;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 576px) {
  .prom-title {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}

/*---Imagen promoción---*/
.prom-img .card {
  border: none;
}
.prom-img .card .carousel-75 {
  margin-top: 2rem !important;
}
.prom-img .card .carousel-75 .flecha {
  background-color: #957dad;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .prom-img .card .carousel-75 {
    padding: 0.8rem;
    font-size: 2.5rem;
    margin-top: 0.5rem !important;
  }
}
.prom-img .card h3 {
  color: #d291bc;
}

/*---Formulario dudas---*/
.dudas {
  font-family: "Cabin", sans-serif;
  color: #957dad;
}
.dudas h2 {
  text-align: center;
  font-size: 3rem;
}
@media screen and (max-width: 576px) {
  .dudas h2 {
    font-size: 1.5rem;
  }
}
.dudas .label {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.dudas .btn-primary {
  color: #ffff;
  background-color: #957dad;
  border-color: #957dad;
  margin: 2rem;
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
}
.dudas .btn-primary:hover {
  color: #957dad;
  background-color: #d291bc;
  border-color: #957dad;
}

* {
  margin: 0;
  padding: 0 auto;
  box-sizing: border-box;
}

/*---Fondo de páginas---*/
main {
  background-color: #ffff;
  margin: 0.25rem;
}

.prod-nav .box-prod .tab-pane .img-prod, .prod-nav, .quienes, .img-portada, footer, .newsletter, .redes, .sub-cop, .prom-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---Imagen con título de página---*/
.img-title {
  /*---Slogan en página principal---*/
  /*---Nombre de categoría---*/
}
.img-title .card {
  border: none;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .img-title .card {
    margin-bottom: 0.25rem;
  }
}
.img-title .tarjeta-texto {
  padding: 0.7rem 0.7rem 0rem 3rem;
}
@media screen and (max-width: 768px) {
  .img-title .tarjeta-texto {
    padding: 0.7rem 0.7rem 0.7rem 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .img-title .tarjeta-texto {
    padding: 0.3rem;
  }
}
.img-title .tarjeta-texto .slogan {
  color: #d291bc;
  font-family: "Cabin", sans-serif;
  font-style: italic;
  font-size: 4rem;
  width: 20rem;
  top: 4.75rem;
  left: 2rem;
}
@media screen and (max-width: 768px) {
  .img-title .tarjeta-texto .slogan {
    font-size: 2.5rem;
    width: 10rem;
  }
}
@media screen and (max-width: 576px) {
  .img-title .tarjeta-texto .slogan {
    font-size: 1.45rem;
    width: 7rem;
  }
}
.img-title .cat-name {
  font-family: "Cabin", sans-serif;
  font-style: italic;
  font-size: 6rem;
  width: 22rem;
  margin-top: 1rem;
  margin-left: 0.25rem;
  color: #d291bc;
}
@media screen and (max-width: 768px) {
  .img-title .cat-name {
    font-size: 3rem;
    width: 15rem;
  }
}
@media screen and (max-width: 576px) {
  .img-title .cat-name {
    font-size: 2rem;
    width: 7.5rem;
    margin-top: 0rem;
    margin-left: 0rem;
  }
}

/*---¿Quienes somos?---*/
.quienes {
  flex-direction: column;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .quienes {
    font-size: 1.5rem;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .quienes {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
.quienes .quest {
  color: #957dad;
  font-family: "Cabin", sans-serif;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  .quienes .quest {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 576px) {
  .quienes .quest {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}
.quienes .answ {
  color: #d291bc;
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  text-align: center;
  width: 57vw;
}
@media screen and (max-width: 768px) {
  .quienes .answ {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .quienes .answ {
    font-size: 0.8rem;
  }
}

/*---Navegador de talles y productos---*/
.prod-nav {
  flex-direction: column;
}
.prod-nav .talles {
  margin-bottom: 2rem;
  font-family: "Cabin", sans-serif;
  font-size: 1.5rem;
}
.prod-nav .talles a {
  color: #957dad;
}
.prod-nav .talles a:hover {
  color: #d291bc;
}
.prod-nav .talles .active {
  color: #d291bc;
}
.prod-nav .box-prod .tab-pane {
  transition: 0.5s;
}
.prod-nav .box-prod .tab-pane .img-prod {
  margin-bottom: 2rem;
}
.prod-nav .box-prod .tab-pane .img-prod:hover {
  transform: scale(1.05);
}
.prod-nav .box-prod .tab-pane .img-prod .prec-prod .card-title {
  color: #957dad;
}
@media screen and (max-width: 576px) {
  .prod-nav .box-prod .tab-pane .img-prod .prec-prod {
    width: 75%;
  }
}
.prod-nav .box-prod .tab-pane .img-prod .prec-prod .descuento {
  margin-left: 1rem;
  color: #957dad;
  border: solid #957dad;
  border-radius: 20%;
}
.prod-nav .box-prod .tab-pane .img-prod .prec-prod .prec-ant {
  text-decoration: line-through;
  color: #000000;
}
.prod-nav .box-prod .tab-pane .img-prod .prec-prod .prec-nuevo {
  color: #d291bc;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
