* {
  margin: 0;
  padding: 0 auto;
  box-sizing: border-box;
}


header{
  display: flex;
  justify-content: center;
}
.img-portada {
  background-color: #ffff;
  height: 20vh;
}

.img-portada img {
  height: 20vh;
}

@media screen and (max-width: 576px) {
  .img-portada {
    height: 15vh;
  }

  .img-portada img {
    height: 15vh;
  }
}


/*---Fondo de página---*/
main {
  background-color: #ffff;
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
}


/*---Imagen con título de página---*/
.img-title {
  border: none;
  margin: 2rem;
}

.img-title .tarjeta-texto {
  padding: 0.7rem 0.7rem 0rem 3rem;
}

@media screen and (max-width: 768px) {
  .img-title .tarjeta-texto {
    padding: 0.7rem 0.7rem 0.7rem 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .img-title .tarjeta-texto {
    padding: 0.3rem;
  }
}

.img-title .tarjeta-texto .slogan {
  color: #d291bc;
  font-family: "Cabin", sans-serif;
  font-style: italic;
  font-size: 4rem;
  width: 20rem;
  top: 4.75rem;
  left: 2rem;
}

@media screen and (max-width: 768px) {
  .img-title .tarjeta-texto .slogan {
    font-size: 2.5rem;
    width: 10rem;
  }
}

@media screen and (max-width: 576px) {
  .img-title .tarjeta-texto .slogan {
    font-size: 1.45rem;
    width: 7rem;
  }
}

.img-title .cat-name {
  font-family: "Cabin", sans-serif;
  font-style: italic;
  font-size: 6rem;
  text-align: center;
  margin-top: 1rem;
  color: #d291bc;
}

@media screen and (max-width: 768px) {
  .img-title .cat-name {
    font-size: 3.5rem;
  }
}


/*---Productos---*/

.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.div_prod {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 100px;

}

.div_prod .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15%;
}

.div_prod .card:hover {
  transform: scale(1.05);
  transition: 1s;
}

.div_prod .card .agregar {
  border-radius: 20%;
  background-color: #ffff;
  margin-bottom: 10px;
  right: 12px;
  border: solid 0.75px #957dad;
  color: #957dad;
}
.div_prod .card .agregar:hover {
  color: #ffff;
  background-color: #957dad;
}

.div_prod .card .nombre{
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: "Cabin", sans-serif;
  color: #957dad;

}
.div_prod .card .precio{
  font-family: "Cabin", sans-serif;
  color: #d291bc;
  margin-top: 3.5px;
}

.carrito {
  position: absolute;
  top: 20%;
  width: 50%;
  right: 10px;
  
}



.carrito .carrito-flotante{
  position: absolute;
  right: 45px;
  top: -45px;

}
.carrito .carrito-flotante:hover{
  transform: scale(1.05);
  transition: 1s;
}

.carrito .carrito-flotante .carrito-logo{
  background-color: #d291bc;
  color:#ffff;
  padding: 24%;
  border-radius: 50%;
}


.carrito h3{
  font-size: 1.75rem;
  text-align: center;
  font-family: "Cabin", sans-serif;
  color: #957dad;
}
.carrito .contenedor-carrito {
  background-color: #ffff;
  width: 100%;
  padding: 1%;
  border-radius: 5%;
  margin-top: 10px;
  border: 1px solid #d291bc;
  opacity: 0;
}

.carrito .contenedor-carrito .comprar{
  background-color: #957dad;
  color: #ffff;
}
.carrito .contenedor-carrito .comprar:hover{
  background-color: #ffff;
  color: #957dad;
  border: solid 1px #957dad ;
}

.prov-tabla button:hover{
  color: #957dad;
  background-color: #ffff;
  border: solid 0.75px #957dad;
}

.show{
  pointer-events: auto;
  opacity: 1 !important;
}

.carrito .contenedor-carrito .btn-trash{
  padding: 7px;
  color: #d291bc;
}
.carrito .contenedor-carrito .cerrarCarrito{
  position: absolute;
  right: 3%;
  top: 10%;
  color: #957dad;
  
}
.carrito .contenedor-carrito .columnas{
  font-family: "Cabin", sans-serif;
  color: #957dad;
}

.carrito .contenedor-carrito .monto-total{
  text-align: right;
  color: #d291bc;
  font-family: "Cabin", sans-serif;

}

.carrito .contenedor-carrito .nombre_prod, .carrito .contenedor-carrito .precio, .carrito .contenedor-carrito .cantidad{
  font-family: "Cabin", sans-serif;
  color:#d291bc;
}
.prov-tabla {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}


.prov-tabla button{
  border-radius: 20%;
  background-color: #957dad;
  margin-bottom: 10px;
  margin-top: 50px;
  right: 12px;
  border: solid 0.75px #ffff;
  color: #ffff;
  font-size: 25px;
  width: 30%;
}


.prov-tabla .tit-prov .tit-bloc{
  background-color: #957dad;
  border: #ffff solid 3px;
}
.prov-tabla .tit-prov p {
margin-top: 5px;
color: white;

}


.prov-tabla .list-prov{
  color: #957dad;
}

.prov-tabla .tit-prov, .list-prov{
  font-family: "Cabin", sans-serif;
  text-align: center;
  margin-top: 10px;
  width: 50%;
  opacity: 0;
}
footer {
  background-color: #ffdfd3;
}

footer h2 {
  text-align: center;
  font-size: 3rem;
  color: #957dad;
}
/*-- Mapa --*/
#map {
	height: 300px;
	width: 100%;
}

/*---Redes sociales y Copyright---*/
.redes {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.redes a {
  color: #d291bc;
}

.redes a:hover {
  color: #957dad;
}

.sub-cop {
  flex-direction: column;
  color: #957dad;
  font-size: 0.75rem;
}




