@charset "UTF-8";
/*---Colores---*/
/*---Fuente---*/
/*---Header---*/
.img-portada {
  background-color: white;
  height: 20vh;
}
.img-portada img {
  height: 20vh;
}
@media screen and (max-width: 576px) {
  .img-portada {
    height: 15vh;
  }
  .img-portada img {
    height: 15vh;
  }
}

.navbar .navbar-nav a {
  font-size: 1.5rem;
}
.navbar .navbar-nav a:hover {
  color: salmon !important;
}

/*---Redes sociales---*/
.redes {
  margin-bottom: 1rem;
}
.redes a {
  color: salmon;
}
.redes a:hover {
  color: rebeccapurple;
}

/*---Título promoción---*/
.prom-title {
  text-align: center;
  background: none;
  background-color: rebeccapurple;
  padding: 2rem;
  color: white;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  .prom-title {
    padding: 1.25rem;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 576px) {
  .prom-title {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
}

/*---Imagen promoción---*/
.prom-img .carousel-75 {
  margin-top: 2rem !important;
}
.prom-img .carousel-75 .flecha {
  background-color: rebeccapurple;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .prom-img .carousel-75 {
    padding: 0.8rem;
    font-size: 2.5rem;
    margin-top: 0.5rem !important;
  }
}
.prom-img h3 {
  color: salmon;
}

/*---Formulario dudas---*/
.dudas {
  font-family: "Cabin", sans-serif;
  color: rebeccapurple;
}
.dudas h2 {
  text-align: center;
  font-size: 3rem;
}
@media screen and (max-width: 576px) {
  .dudas h2 {
    font-size: 1.5rem;
  }
}
.dudas label {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.dudas .btn-primary {
  color: white;
  background-color: rebeccapurple;
  border-color: rebeccapurple;
  margin: 2rem;
  font-size: 1rem;
  font-family: "Cabin", sans-serif;
}
.dudas .btn-primary:hover {
  color: rebeccapurple;
  background-color: salmon;
  border-color: rebeccapurple;
}

* {
  margin: 0;
  padding: 0 auto;
  box-sizing: border-box;
}

/*---Fondo de páginas---*/
body,
footer {
  background-image: url("../img/fondo-pag.jpg");
  background-repeat: repeat;
  margin: 0.25rem;
}

.prod-nav, .quienes, .img-portada, .redes, .prom-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---Imagen con título de página---*/
.img-title {
  margin-bottom: 1rem;
  border: none;
  /*---Slogan en página principal---*/
  /*---Nombre de categoría---*/
}
@media screen and (max-width: 768px) {
  .img-title {
    margin-bottom: 0.25rem;
  }
}
.img-title .tarjeta-texto {
  padding: 0.7rem 0.7rem 0rem 3rem;
}
@media screen and (max-width: 768px) {
  .img-title .tarjeta-texto {
    padding: 0.7rem 0.7rem 0.7rem 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .img-title .tarjeta-texto {
    padding: 0.3rem;
  }
}
.img-title .tarjeta-texto .slogan {
  color: salmon;
  font-family: "Cabin", sans-serif;
  font-style: italic;
  font-size: 4rem;
  width: 20rem;
  top: 4.75rem;
  left: 2rem;
}
@media screen and (max-width: 768px) {
  .img-title .tarjeta-texto .slogan {
    font-size: 2.5rem;
    width: 10rem;
  }
}
@media screen and (max-width: 576px) {
  .img-title .tarjeta-texto .slogan {
    font-size: 1.45rem;
    width: 7rem;
  }
}
.img-title .cat-name {
  color: salmon;
  font-family: "Cabin", sans-serif;
  font-style: italic;
  font-size: 6rem;
  width: 22rem;
  margin-top: 1rem;
  margin-left: 0.25rem;
}
@media screen and (max-width: 768px) {
  .img-title .cat-name {
    font-size: 3rem;
    width: 15rem;
  }
}
@media screen and (max-width: 576px) {
  .img-title .cat-name {
    font-size: 2rem;
    width: 7.5rem;
    margin-top: 0rem;
    margin-left: 0rem;
  }
}

/*---¿Quienes somos?---*/
.quienes {
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.quienes .quest {
  color: rebeccapurple;
  font-family: "Cabin", sans-serif;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  .quienes .quest {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 576px) {
  .quienes .quest {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
}
.quienes .answ {
  color: salmon;
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  text-align: center;
  width: 57vw;
}
@media screen and (max-width: 768px) {
  .quienes .answ {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .quienes .answ {
    font-size: 0.8rem;
  }
}

/*---Navegador de talles y productos---*/
.prod-nav {
  flex-direction: column;
}
.prod-nav .talles {
  margin-bottom: 2rem;
  font-family: "Cabin", sans-serif;
  font-size: 1.5rem;
}
.prod-nav .talles a:hover {
  color: salmon;
}
.prod-nav .box-prod .img-prod {
  margin-bottom: 2rem;
}
.prod-nav .box-prod .img-prod:hover {
  transform: scale(1.05);
}
.prod-nav .box-prod .img-prod .descuento {
  margin-left: 1rem;
  color: rebeccapurple;
  border: solid rebeccapurple;
  border-radius: 20%;
}
@media screen and (max-width: 576px) {
  .prod-nav .box-prod .prec-prod {
    width: 75%;
  }
}
.prod-nav .box-prod .prec-prod .prec-ant {
  text-decoration: line-through;
}
.prod-nav .box-prod .prec-prod .prec-nuevo {
  color: rebeccapurple;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
