@import "_components/colores-fuente";
@import "_components/header";
@import "_components/footer-redes";
@import "_components/promociones";
@import "_components/formulario-contacto";
* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}

/*---Fondo de páginas---*/
body,
footer {
    background-image: url("../img/fondo-pag.jpg");
    background-repeat: repeat;
    margin: 0.25rem;
}

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}



/*---Imagen con título de página---*/
.img-title {
    margin-bottom: 1rem;
    border: none ;


    @media screen and (max-width:768px) {
       
        margin-bottom: 0.25rem;

    }

    /*---Slogan en página principal---*/
    .tarjeta-texto{
        padding: 0.7rem 0.7rem 0rem 3rem ;

        @media screen and (max-width:768px) {
            padding: 0.7rem 0.7rem 0.7rem 1.5rem ;

        }

        @media screen and (max-width:576px) {
            padding: 0.3rem ;

        }

        .slogan {
            color: $c1;
            font-family: $f1;
            font-style: italic;
            font-size: 4rem;
            width: 20rem;
            top: 4.75rem;
            left: 2rem;
    
    
            @media screen and (max-width:768px) {
                font-size: 2.5rem;
                width: 10rem;
            }
    
            @media screen and (max-width:576px) {
                font-size: 1.45rem;
                width: 7rem;
    
            }
    
    
        }

    }

   

    /*---Nombre de categoría---*/
    .cat-name {
        color: $c1;
        font-family: $f1;
        font-style: italic;
        font-size: 6rem;
        width: 22rem;
        margin-top: 1rem;
        margin-left: 0.25rem;

        @media screen and (max-width:768px) {
            font-size: 3rem;
            width: 15rem;
        }

        @media screen and (max-width:576px) {
            font-size: 2rem;
            width: 7.5rem;
            margin-top: 0rem;
            margin-left: 0rem;

        }

    }
}






/*---¿Quienes somos?---*/
.quienes {
    @extend %flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    



    .quest {
        color: $c2;
        font-family: $f1;
        font-size: 3rem;

        @media screen and (max-width:768px) {
            font-size: 2rem;
            margin-bottom: 1rem;
            margin-top: 0.5rem;

        }

        @media screen and (max-width:576px) {
            font-size: 1.3rem;
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }



    }

    .answ {
        color: $c1;
        font-family: $f1;
        font-size: 2rem;
        text-align: center;
        width: 57vw;

        @media screen and (max-width:768px) {
            font-size: 1.5rem;

        }

        @media screen and (max-width:576px) {
            font-size: 0.8rem;
        }



    }



}

/*---Navegador de talles y productos---*/
.prod-nav {
    @extend %flex;
    flex-direction: column;




    .talles {
        margin-bottom: 2rem;
        font-family: $f1;
        font-size: 1.5rem;
        

        a {
            &:hover {
                color: $c1;
            }
        }
    }
    .box-prod{


        .img-prod {
            margin-bottom: 2rem;

            &:hover {
                transform: scale(1.05);
            }

            .descuento{
                margin-left: 1rem;
                color: $c2 ;
                border: solid $c2;
                border-radius: 20%;
               
                                
            }

            
    
    
            
        }

        .prec-prod{
            @media screen and (max-width:576px) {
                width: 75%;
               
            }

            .prec-ant{
                text-decoration:line-through;
            }
            .prec-nuevo{
                color:$c2;
                font-weight: bold;
            }
        }
    }
    


}



