footer {
    background-color: $c4;
    @extend %flex;
    flex-direction: column;
    align-items: center;
}

/*---Newsletter---*/
.newsletter {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    @extend %flex;
    flex-direction: column;

    label {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        color: $c2;

    }

    .btn-primary {
        color: $c3;
        background-color: $c2;
        border-color: $c2;
        font-size: 1rem;
        font-family: $f1;
        margin: 1rem;

        &:hover {
            color: $c3;
            background-color: $c1;
            border-color: $c2;
        }
    }
}

.boton-subir {
    margin-top: 1rem;

    a {
        font-family: $f1;
        color: $c3;
        text-align: center;
        text-decoration: none;
        border: 0.1rem solid;
        border-color: $c2;
        border-radius: 20%;
        padding: 0.2rem;
        font-size: 2rem;
        background-color: $c2;

        &:hover {
            color: $c3;
            background-color: $c1;
            border-color: $c2;
        }
    }

}


/*---Redes sociales y Copyright---*/
.redes {
    @extend %flex;
    margin-top: 1rem;
    margin-bottom: 1rem;


    a {
        color: $c1;

        &:hover {
            color: $c2;
        }
    }
}

.sub-cop {
    @extend %flex;
    flex-direction: column;
    color: $c2;
    font-size: 0.75rem;
}