/*---Formulario dudas---*/
.dudas {
    font-family: $f1;
    color: $c2;

    
    h2 {
        text-align: center;
        font-size: 3rem;

        @media screen and (max-width:576px) {
            font-size: 1.5rem;

        }
    }

    label {
        font-size: 1rem;

        .checkbox {
            margin-top: 2rem !important;
            margin-bottom: 2rem !important;
        }



    }

    .btn-primary {
        color: $c3 !important;
        background-color: $c2 !important;
        border-color: $c2 !important;
        margin: 2rem;
        font-size: 1rem;
        font-family: $f1;

        &:hover {
            color: $c2 !important;
            background-color: $c1 !important;
            border-color: $c2 !important;
        }
    }

    

}