/*---Header---*/

.img-portada {
    background-color: $c3;
    height: 20vh;
    @extend %flex;
    img{
        height: 20vh;
    }




    @media screen and (max-width:576px) {
      height: 15vh;


      img{
          height: 15vh;
      }
    
    }



}

.navbar {

    .navbar-nav {

        a {
            font-size: 1.5rem;

            &:hover {
                color: $c1 !important;
            }
        }
    }

}
