/*---Título promoción---*/
.prom-title {
    text-align: center;
    background: none;
    background-color: $c2;
    padding: 2rem;
    color: $c3;
    font-size: 3rem;

    @media screen and (max-width:768px) {
        padding: 1.25rem;
        font-size: 2.5rem;

    }

    @media screen and (max-width:576px) {
        padding: 0.5rem;
        font-size: 1.2rem;

    }

}


/*---Imagen promoción---*/
.prom-img {
    @extend %flex;

    .card {
        border: none;

        .carousel-75 {
            margin-top: 2rem !important;


            .flecha {
                background-color: $c2;
                border-radius: 50%;
            }

            @media screen and (max-width:768px) {
                padding: 0.8rem;
                font-size: 2.5rem;
                margin-top: 0.5rem !important;

            }


        }

        h3 {
            color: $c1
        }

    }


}